@media (max-width: 991.98px) {
    .dispaly-none {
        display: none !important;
    }
    .search-button {
        font-size: 10px;
    }
    .login-register a {
        font-size: 10px;
    }
    .btn-group button {
        font-size: 13px;
    }
    .badge {
        top: -10px;
        padding: 5px;
        font-size: 7px;
    }
}